# Konfiguracja bazy danych MySQL
DATABASE_URL="mysql://user:password@localhost:3306/dbname"

# Konfiguracja Resend do wysyłki newslettera
# Klucz pobierzesz za darmo na https://resend.com
RESEND_API_KEY=""

# Nadawca wiadomości (np. Rafał Wielgus <newsletter@twojadomena.pl> lub domyślny onboarding@resend.dev w trakcie testów)
RESEND_FROM_EMAIL="Rafał Wielgus <onboarding@resend.dev>"

# Adres URL Twojego serwisu (używany do generowania linków aktywacyjnych i wypisu)
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
